.container {
	position: absolute;
	top:0;
	width: 100vw;
	-webkit-app-region: drag;
	padding: 2px;
	display: flex;
	justify-content: flex-end;
	background-color: darken(white, 5%);
	border-bottom: darken(white, 8%) 1px solid;

}
.buttons {
	display: flex;
	justify-content: space-around;
}

.button {
	font-size: 80%;
	-webkit-app-region: no-drag;
	&:hover {
		background-color: #ff4335;
	}
}
